<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Quack</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/js")
    @RenderSection("ViewsJS")
    @using System.Text.RegularExpressions;

</head>
<body>
    @{
        string pageTitle = ViewBag.Title;
        string titleClasses = Regex.Replace(ViewBag.Title, @"([a-z])([A-Z])", "$1-$2").ToLower();

        string homeNavBarClasses = string.Empty;
        string homeLoginHighlight = string.Empty;
        if (pageTitle == "Home")
        {
            homeNavBarClasses += "bg-transparent";
            homeLoginHighlight += "btn btn-success";

        }
        else
        {
            homeNavBarClasses += "bg-light";
            titleClasses += " not-home";
        }

    }
    <div class="container-fluid body-content @titleClasses">
        <div class="navbar navbar-expand-md navbar-light @homeNavBarClasses justify-content-between sticky-top">
            <div class="container">
                <a class="navbar-brand order-md-last" href="/">
                    <img style="width:80px;" src="~/Content/Images/logo.png" class="d-inline-block align-middle" alt="">

                </a>

                <ul class="navbar-nav navbar-collapse collapse mr-auto" id="navbarNav">
                    @{
                        if (PageData["loggedIn"])
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark">Welcome back, @PageData["userName"]!</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Report/NewFeeding"><span class="spacer-line-v">|</span>Report a Feeding</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Report/AllFeedings">View All Feedings</a>
                            </li>
                            if (!pageTitle.Equals("Home"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="/">Home</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/user/logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            if (!pageTitle.Equals("Home"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="/">Home</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link @homeLoginHighlight text-dark" href="/user/login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/user/register">Register</a>
                            </li>

                        }
                    }
                </ul>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
        </div>

        @RenderBody()
        <hr />
        <footer class="container body-content">
            <p>&copy; @DateTime.Now.Year - Quack</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
